# Virtual environments
/general_chatbot_venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS
.DS_Store